<div class="container mt-5">
  <h2 class="text-center text-danger">Error</h2>
  <p class="text-center">{{message}}</p>
  <div class="text-center">
    <a href="/admin" class="btn btn-primary">Go Back to Admin Panel</a>
  </div>
</div>
